<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Michal Mlejnek">
    
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/icon">

    <title>Oáza.tv - Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="{$basePath}/admin_components/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{$basePath}/admin_components/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{$basePath}/admin_components/bower_components/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{$basePath}/admin_components/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{$basePath}/admin_components/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{$basePath}/admin_components/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- Bootstrap tags input-->
    <link href="{$basePath}/admin_components/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet">

    <!--Bootstrap date time picker -->
    <link href="{$basePath}/admin_components/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    <div class="container">
        <div n:if="count($flashes)>0" id="flashmessages">
            <div n:foreach="$flashes as $flash"
                 class='alert alert-{$flash->type}' role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {$flash->message}
            </div>
        </div>
    </div>
            
    {include content}
    
    {block scripts}
    
    <div class="hidden" id="request"></div>

    <!-- jQuery -->
    <script src="{$basePath}/admin_components/bower_components/jquery/dist/jquery.min.js"></script>
    
    <!-- Moment js -->
    <script src="{$basePath}/admin_components/bower_components/moment/min/moment.min.js"></script>
    <script src="{$basePath}/admin_components/bower_components/moment/min/moment-with-locales.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{$basePath}/admin_components/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- bootbox js -->
    <script src="{$basePath}/admin_components/bower_components/bootbox/bootbox.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{$basePath}/admin_components/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{$basePath}/admin_components/bower_components/raphael/raphael-min.js"></script>
    <script src="{$basePath}/admin_components/bower_components/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{$basePath}/admin_components/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

    <!-- Bootstrap tags input js-->
    <script src="{$basePath}/admin_components/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    
    <!--Bootstrap date time picker -->
    <script src="{$basePath}/admin_components/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- jQuery sortable -->
    <script src="{$basePath}/admin_components/bower_components/jquery-sortable/source/js/jquery-sortable-min.js"></script>
    
    <script type="text/javascript">
        $(document).on("click", '.confirm', function(e) { 
            e.preventDefault();
            var message = $(this).attr("data-confirm");
            var button = $(this);
            var dialog = bootbox.confirm(message, function(result) {
                            console.log(result);
                            if (result) {
                                window.location.href = button.attr('href');
                            }
                        }); 
            return dialog;
        });
    </script>
    
    <script>
        $("document").ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
            
            //bg ajax worker called every 10 seconds
            bgAjaxWorker();
            setInterval(function() { bgAjaxWorker(); }, 10000);
        });
        
        function bgAjaxWorker() {
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            console.log("ajax worker tick [" + time + "]");
            try {
                loadNavbarQueue(false);
                refreshQueueItem();
            } catch(e) {
                console.log(e);
            }
        }
        
        function loadNavbarQueue(force) {
            if (force || $('#navbarQueue').is(":visible")) {
                $('#navbarQueue').load({$presenter->link('VideoConvertQueue:NavbarQueue')});
                console.log('ajax: refreshing navbar queue');
            }
        }
    </script>
    
    <script>
        moment.locale('cs');
    </script>
    {/block}
    
    {block pageScripts}
    {/block}

</body>

</html>
