<span>
    verze 0.2 [2015-08-10] <br><br>
    * nelze se přihlásit z mobilních zařízení <br>
    * interní chyby v systému <br>
    + nástroj na vytváření miniatur <br>
    + prohlížeč obrázků do obrazovky detailu videa <br>
</span>