<i class="fa fa-trash-o trash"></i>
<a download href="{$basePath}/temp/users/{$userId}/thumb_{$videoId}_{$hour}-{$minute}-{$second}.jpg">
    <i class="fa fa-download download"></i>
</a>
<img onclick="openImageViewer('{$basePath|noescape}/temp/users/{$userId|noescape}/thumb_{$videoId|noescape}_{$hour|noescape}-{$minute|noescape}-{$second|noescape}.jpg');"
     class="img-responsive thumb-clickable" 
     src="{$basePath}/temp/users/{$userId}/thumb_{$videoId}_{$hour}-{$minute}-{$second}.jpg" />