<i class="fa fa-trash-o trash"></i>
<a download href="{$basePath}/temp/users/{$userId}/thumb_{$videoId}_{$hour}-{$minute}-{$second}.jpg">
    <i class="fa fa-download download"></i>
</a>
<img class="img-responsive" src="{$basePath}/temp/users/{$userId}/thumb_{$videoId}_{$hour}-{$minute}-{$second}.jpg" />