{block meta}
    <meta property="og:image" content="{$serverUrl}/{$video['thumbs']['1024']}"/>
    <meta property="og:title" content="{$videoRaw['name_cs']} | {$videoRaw['name_en']}"/>
    <meta property="og:description" content="{$videoRaw['description_cs']} | {$videoRaw['description_en']}"/>	
{/block}


{block content}

    {include ../Shared/player.latte}

    {include ../Shared/playerInfo.latte}

{/block}

{block pageScripts}

    {include ../Shared/playerJS.latte}

{/block}
