{block content}

    <div class="container">
        <div class="row" style="padding-top: 60px;">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 pull-right">
                {include profileCard.latte}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                {include historyCard.latte}
            </div>
        </div>
    </div>

{/block}