<div class="card-3 history-card">

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">
                {_frontend.basic.history}

                {foreach $historyVideos as $video}
                    {include '../Shared/videoBox.latte', item => $video,
                            customClasses => "col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"}
                {/foreach}
            </p>
        </div>
    </div>
</div>