{block content}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="login-box card-3">

                    <h3>{_frontend.basic.register}</h3>
                    <div class="row">

                        {control register}

                    </div>
                </div>
            </div>
        </div>
    </div>

{/block}