{block content}

<div id="wrapper">
    
    {include ../navbar.latte}
    
    <div class="container-fluid">
        <div class="row">
            <a href="javascript:history.go(-1);"> 
                <h2><span class="glyphicon glyphicon-chevron-left pull-left"></span>
                    {$album->name_cs} / {$album->name_en} <small> #{$album->hash}</small>
                </h2>
            </a>  
            
        </div>
        
        <br>
        
        <div class="row">
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a data-toggle="tab" href="#info">Základní info</a></li>
                <li role="presentation"><a data-toggle="tab" href="#files">Soubory</a></li>
                <li role="presentation"><a data-toggle="tab" href="#analytics">Analytics</a></li>
                <li role="presentation"><a data-toggle="tab" href="#delete">Smazat albums</a></li>
                <li role="presentation"><a data-toggle="tab" href="#tools">Další nástroje</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="info">
                    <br>
                    <div class="col-md-8"> 
                        {control createAlbumForm}
                    </div>

                    <div class="col-md-4">
                        <input id="filter" type="text" class="form-control" placeholder="Vyhledávání...">
                        <br>

                        <div id="tagsTableWrapper" style="overflow-y: scroll">
                            <table class="table table-hover">
                                <thead>
                                    <th>tag</th>
                                    <th>počet</th>
                                </thead>
                                <tbody class="searchable">
                                    {foreach $tagsArray as $tag => $count}
                                        <tr class="addableTag" id="tag_{$tag|strip}" data-tag="{$tag|strip}">
                                            <td>{$tag|strip}</td>
                                            <td>{$count}x</td>
                                        </tr>
                                    {/foreach}
                                </tbody>                
                            </table>
                        </div>

                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="files">
                    <br>
                    {control uploadPhotos}
                    <hr>
                    
                    <form action="{plink Albums:updateAlbum, $album->id}" id="photosForm" method="post">
                        <ul id="photosGrid" class="row">
                            <li n:foreach="$photos as $photo" class="photo col-xs-4" data-id="{$photo->id}">
                                {var $temp = $photosManager->getPhotoThumbnails($photo->id)}
                                <div class="aspect-ratio ratio1-1 thumb"
                                     style="background-image: url({$basePath}/db/albums/{$photo->album_id}/thumbs/{str_replace('.jpg', '_512.jpg', $photo->file)});">
                                
                                    <i class="fa fa-trash delete" data-delete="{$basePath}/admin/albums/ajax-delete-photo?id={$photo->id}"></i>
                                    <i class="fa fa-trash trash"></i>
                                    <i class="fa fa-undo undo"></i>
                                    <i class="fa {if ($album->cover_photo_id == $photo->id)}fa-bookmark active{else}fa-bookmark-o{/if} cover" data-photo-id="{$photo->id}"></i>
                                    <i class="fa fa-pencil-square-o edit"></i>
                                    <div class="photo-desc hidden">
                                        <input class="form-control"
                                            name="{$photo->id}_description_cs" 
                                            placeholder="český popis"
                                            type="text" 
                                            value="{$photo->description_cs}">
                                        <input class="form-control"
                                            name="{$photo->id}_description_en" 
                                            placeholder="anglický popis"
                                            type="text" 
                                            value="{$photo->description_en}">
                                        <input class="orderInput"
                                               type="hidden"
                                               name="{$photo->id}_order"
                                               value="{$photo->order}">
                                    </div>
                                    <div class="descriptions">
                                        <span class="cs">{if $photo->description_cs != ''}cs: {$photo->description_cs}{/if}</span>
                                        <span class="en">{if $photo->description_en != ''}en: {$photo->description_en}{/if}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                                    
                        <button id="submitChanges" type="submit" class="btn btn-success">uložit změny</button>
                    </form>
                                    
                    <hr>
                    
                    <h3>Smazat tyto fotky: </h3>
                    <br>
                    <ul id="trash" class="row">
                    </ul>
                </div>
                        
                <div role="tabpanel" class="tab-pane" id="analytics">

                </div>
                    
                <div role="tabpanel" class="tab-pane" id="delete">
                    <br>
                    <div class="text-center">
                        <a n:href="Albums:DeleteAlbum $album->id"
                           data-confirm="Opravdu smazat album?"
                            class="btn btn-lg btn-danger confirm">Smazat album?</a>
                    </div>
                </div>
                    
                <div role="tabpanel" class="tab-pane" id="tools">
                    <br>

                </div>
            </div>
                
        </div>
    </div>
    
    
</div>
{/block}

{block pageScripts}
<script>
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
});

$(function () {
    $('#datepicker').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: 'cs'
    });
});
</script>

<script>

$("#photosGrid").sortable();

$('#photosGrid .edit').each(function() {
    $(this).on('click', function() {
        $(this).next().toggleClass('hidden');
    });
});

$('#photosGrid .trash').each(function()  {
    $(this).on('click', function() {
       var photo = $(this).parent().parent();
       photo.addClass('hidden');
       photo.clone().appendTo('#trash')
               .removeClass('hidden')
               .addClass('col-xs-2');
   });
});

$(document).on('click', '#trash .undo', function() {
    var id = $(this).parent().parent().data('id');
    $('#photosGrid').find('[data-id=' + id + ']').removeClass('hidden');
    $(this).parent().parent().remove();
});

$(document).on('click', '#trash .delete', function() {
    var link = $(this).data('delete');
    var element = $(this).parent().parent();
    bootbox.confirm("Smazat fotku?", function(result) {
        if (result === true) {
            $.ajax({
                url: link
            });
            element.remove();
        };
    }); 
});

function submitChanges() {
    var order = 0;
    $('#photosGrid .orderInput').each(function() {
        $(this).val(order);
        order++;
    });
    $('#photosForm').submit();
}

$(document).on('click', '#submitChanges', function(e) {
   e.preventDefault();
   var trashCount = $("#trash").children().length;
   if (trashCount != 0) {
       bootbox.confirm("V koši jsou nesmazané fotky. <br>Při odeslání změn budou tyto obnoveny. <br><br>Pokračovat?", function(result) {
           if (result) {
               submitChanges();
           }
       });
   } else {
       submitChanges();
   }
});

function setCoverPhoto(id) {
    
}

$('#photosGrid .cover').click(function() {
    var id = $(this).data('photo-id');
    var element = $(this);
    bootbox.confirm("Nastavit jako úvodní fotku alba?", function(result) {
        if (result) {
            $.ajax({
                url: {plink Albums:ajaxSetAlbumCover} + '?photoId=' + id + '&albumId=' + {$album->id}
            });
            $('.cover.active').each(function() {
                $(this).removeClass('active fa-bookmark').addClass('fa-bookmark-o');
            });
            element.addClass('active fa-bookmark').removeClass('fa-bookmark-o');
        }
    });
});
</script>

<script>
    $(document).ready(function() {
        (function ($) {

            $('#filter').keyup(function () {

                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();

            });
            
            hideUsedTags();
            adjustTagsWrapper(); 

            $('#tags').on('itemRemoved', function(event) {
                $('#tag_' + event.item).removeClass('hidden');
            });
            
            $('.addableTag').on('click', function() {
                $('#tags').tagsinput('add', $(this).data('tag'));
                $(this).addClass('hidden');
            });
            
            $(window).resize(function() {
               adjustTagsWrapper(); 
            });

        }(jQuery));
    });
    
    function adjustTagsWrapper() {
        $('#tagsTableWrapper').height($('#frm-createAlbumForm').height() - 115);
    }
    
    function hideUsedTags() {
        var usedTags = $('#tags').tagsinput('items');
        
        $.each(usedTags, function(index, value) {
           $('#tag_' + $.trim(value)).addClass('hidden');
        });
    }
</script>
{/block}