<br>
<div class="text-center">
    <a n:href="ThumbnailGenerator:create $video->id"
        class="btn btn-lg btn-primary">
        <i class="fa fa-image fa-fw"></i> Vytvářeč miniatur
    </a>
    <a n:href="PrivateLinksGenerator:create $video->hash"
            class="btn btn-lg btn-primary">
        <i class="fa fa-key fa-fw"></i> Soukromé odkazy
    </a>
</div>