{define table-open-tag}
    <table class="table table-hover">
{/define}

{define table-close-tag}
    </table>
{/define}

{define col-filter}
    <span>sdfsdf</span>
{/define}

{define col-thumb_file}
    <td>
        <img class="img-responsive" src="{$basePath}/db/videos/{$row['id']}/{$row['thumb_file']}" />
    </td>
{/define}