/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.2.2016, 19:01:41
    Author     : chaemil
*/

.navbar-toggle {
    margin-left: 8px;
    margin-right: 0;
}

.navbar-header {
    width: 100%;
}

.navbar-top-links .dropdown-tasks{
    margin-left: -160px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.front-page-manager-rows .unpublished {
    opacity: 0.3;
}

.form-control {
    color: #ffffff;
    background-color: #3a3f44;
    border: 1px solid #565b61;
}