{block content}

<div class="col-xs-12">
    <a href="{$data['inputs']['link'][$lang]}" target="_blank">
        <img class="img-responsive" src="{$basePath}/db/front_page/images/{$data['inputs']['image'][$lang]}" />
    </a>
    <br>
</div>