{block content}

<div class="video-fluid bg">
    <video width="100%" height="auto" autoplay repeat>
        <source src="{$basePath}/assets/video/oaza-title.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                {include '../../Shared/videoBox.latte', item => $latestVideo, responsive => false}
            </div>
        </div>
    </div>
</div>