{block content}

<div class="col-xs-12">
    {if isset($newestAlbums)}
        <div class="row videos-box">
            {foreach $newestAlbums as $item}
                {breakIf $iterator->getCounter() > $data['inputs']['max_albums']}
                {include '../../Shared/videoBox.latte', item => $item}
            {/foreach}
        </div>
    {/if}                    
</div>
