{block content}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {if isset($newestAlbums)}
                {foreach $newestAlbums as $item}
                    {include '../../Shared/videoBox.latte', item => $item}
                {/foreach}
            {/if}                    
        </div>
    </div>
</div>