{block content}

<div class="col-xs-12">
    <a href="{$data['inputs']['link']}">
        <div class="alert alert-{$data['inputs']['notification_type']}">
            <u><strong>{$data['inputs']['name'][$lang]}</strong> {$data['inputs']['text'][$lang]}</u>
        </div>
    </a>
</div>