{block content}

<div class="col-xs-12">
    <div class="alert alert-{$data['inputs']['notification_type']}">
        <strong>{$data['inputs']['name'][$lang]}</strong> {$data['inputs']['text'][$lang]}
    </div>
</div>