{block content}

<div class="container">
    
    <hr>
    
    <h1 class="text-center">{$song['name']} <br><small>{$song['author']}</small></h1>
    
    <hr>
    
    <div class="songbook text">
        
        {$song['body']|noescape}
        
    </div>
        
    <hr>
    
</div>

{/block}