{block content}

<div class="container songbook">
    <div class="row">
    
        <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{_frontend.basic.songbook}</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <form action="{plink Songbook:chord}">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="form-group find-chord-form">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="chordval">{_frontend.songbook.chord_to_find}:</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-6">
                                            <input class="form-control" id="chordval" name="ch" value="{if isset($_GET['ch'])}{$_GET['ch']}{/if}">
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <input class="btn btn-primary pull-right show-button" 
                                               type="submit" value="{_frontend.songbook.show_chords}"">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <hr>

        <div class="songbook all" data-masonry='{ "itemSelector": ".songs-block", "columnWidth": 320, "isFitWidth": true }'>
            {foreach $songs as $song}
                {if mb_substr($song['tag'], 0, 2) == 'CH'}
                    {var $initial = 'CH'}
                {else}
                    {var $initial = mb_substr($song['tag'], 0, 1, 'UTF-8')}
                {/if}
                
                {if isset($lastInitial) && $lastInitial != $initial}
                    </div>
                {/if}

                {if !isset($lastInitial) || $initial != $lastInitial}
                    <div class="songs-block">
                    <h2 style="color: {$initial|makeColor|darken:25|noescape}">{$initial}</h2>
                {/if}

                <h5 class="song" data-tag="{$song['tag']}">
                    <span style="color: {$initial|makeColor|darken:25|noescape}">
                        {$song['tag']}
                    </span> &nbsp;
                    <a n:href="Songbook:view $song['tag']">{$song['name']}</a>
                    <br>
                    <small class="author" style="color: {$initial|makeColor|darken:18|noescape}">
                        {$song['author']}
                    </small>
                </h5>
                
                {if $iterator->last}</div>{/if}

                {var $lastInitial = $initial}
            {/foreach}
        </div>
    </div>
    
</div>