{block content}
    <div id="wrapper">

        {include ../navbar.latte}

        <div class="container-fluid">
            <div class="row">

                <div class="row">
                    <div class="col-md-9">
                        <h2>Live Chat</h2>
                    </div>
                    <div class="col-md-3">
                        <a href="#"
                           id="delete-all-messages"
                           class="btn btn-danger pull-right">
                            Smazat všechny zprávy
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Neschválené zprávy
                            </div>
                            <div class="panel-body"
                                 id="non-approved-messages"
                                 style="height: calc(100vh - 200px); overflow: scroll">
                                {foreach $nonApprovedMessages as $message}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {$message['datetime']} - {$message['name']}
                                            <div class="btn-group pull-right">
                                                <a href="#"
                                                   data-message-id="{$message['id']}"
                                                   class="btn btn-xs btn-danger delete-message">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                                <a href="#"
                                                   data-message-id="{$message['id']}"
                                                   class="btn btn-xs btn-success approve-message">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            {$message['message']}
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Schválené zprávy
                            </div>
                            <div class="panel-body"
                                 id="approved-messages"
                                 style="height: calc(100vh - 200px); overflow: scroll">
                                {foreach $approvedMessages as $message}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {$message['datetime']} - {$message['name']}
                                            <div class="btn-group pull-right">
                                                <a href="#"
                                                   data-message-id="{$message['id']}"
                                                   class="btn btn-xs btn-danger delete-message">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            {$message['message']}
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block pageScripts}
    <script>
        $('.delete-message').click(function (e) {
            e.preventDefault();

            var messageElement = $(this).closest('.panel');
            var id = $(this).attr('data-message-id');

            bootbox.confirm({
                message: "Smazat zprávu?",
                buttons: {
                    confirm: {
                        label: 'Ano',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Ne',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        $.ajax({
                            url: {plink 'LiveChat:deleteMessage'},
                            method: 'post',
                            data: {
                                'id': id
                            },
                            success: function (response) {
                                if (response.status == 1) {
                                    messageElement.remove();
                                }
                            }
                        })
                    }
                }
            });
        });

        $('.approve-message').click(function (e) {
            e.preventDefault();

            var messageElement = $(this).closest('.panel');
            var id = $(this).attr('data-message-id');

            bootbox.confirm({
                message: "Schválit zprávu?",
                buttons: {
                    confirm: {
                        label: 'Ano',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Ne',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        $.ajax({
                            url: {plink 'LiveChat:approveMessage'},
                            method: 'post',
                            data: {
                                'id': id
                            },
                            success: function (response) {
                                if (response.status == 1) {
                                    messageElement.detach();
                                    messageElement.find('.approve-message').remove();
                                    messageElement.prependTo($('#approved-messages'));
                                }
                            }
                        })
                    }
                }
            });
        });

        $('#delete-all-messages').click(function (e) {
            e.preventDefault();

            bootbox.confirm({
                message: "Smazat vše?",
                buttons: {
                    confirm: {
                        label: 'Ano',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Ne',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        $.ajax({
                            url: {plink 'LiveChat:deleteAllMessages'},
                            method: 'post',
                            success: function (response) {
                                if (response.status) {
                                    $('#non-approved-messages').empty();
                                    $('#approved-messages').empty();
                                }
                            }
                        })
                    }
                }
            });
        });
    </script>
{/block}