{block content}

{if !$valid}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {control privateLinkForm}
            </div>
        </div>
    </div>
{else}
    {include 'albumView.latte'}
{/if}

{/block}

{block pageScripts}
    {if $valid}
        {include 'scripts.latte'}
    {/if}
{/block}
