<script>
    $(document).ready(function() {
        $('#archive-menu-affix').affix({
            offset: {
                top: 10,
                bottom: function () {
                  return (this.bottom = $(document).height() - $('.videos-box').outerHeight(true));
                }
            }
        });
    });
</script>