<div class="archive-sidemenu" id="archive-menu-affix">
    <ul class="list-group">
        {foreach $archiveMenu as $menu}
            <li class="list-group-item">
                <a n:href="Archive:Menu $menu['tags']">
                    {$menu['name']}
                </a>
                <span class="badge">
                    {$archiveMenuManager->countVideosInMenuByTag($menu['tags'])}
                </span>
            </li>
        {/foreach}
    </ul>
</div>