<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top noselect" role="navigation">
    <div class="container" class="position: relative;">
        <div class="navbar-header">

            <a class="navbar-brand pull-left">
                <img class="logo" src="{$basePath}/assets/img/logo.png"/>
                <span class="text hidden-xs hidden-sm">Oáza.tv</span>
            </a>

        </div>

        <div class="pull-right navbar-user-menu">
            {if !$user->isLoggedIn()}
                <a n:href="User:">
                    <div class="round round-lg">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="my-oaza">
                        <span class="name">{_frontend.basic.login}</span>
                        <span>{_frontend.basic.myoaza}</span>
                    </div>
                </a>
            {else}
                <a n:href="User:">
                    <div class="round round-lg">
                        {if isset($frontUser['fromFB'])}
                            <img src="http://graph.facebook.com/{$frontUser['fromFB']['id']}/picture?type=square&width=150&height=150" alt="">
                        {else}
                            <span class="glyphicon glyphicon-user"></span>
                        {/if}
                    </div>
                    <div class="my-oaza">
                        {ifset $frontUser['fromDB']}
                            <span class="name">{$frontUser['fromDB']['firstname']}</span>
                        {/ifset}
                        <span>{_frontend.basic.myoaza}</span>
                    </div>
                </a>
            {/if}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <form class="navbar-form navbar-search" role="search" action="{plink Search:default}">
                <div class="input-group">
                    <input type="text" class="form-control"
                           autocomplete="off"
                           placeholder="{_frontend.basic.search|translate}" name="q"
                           id="search">

                    <i id="search-animation" class="fa fa-spinner search-animation glyphicon-refresh-animate hidden"></i>

                    <ul class="dropdown-menu dropdown-search" id="dropdown-search">

                    </ul>

                    <div class="input-group-btn">
                        <a class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="btn-group">
                    <a class="btn btn-primary btn-archive"
                            n:href="Archive:Default">
                        {_frontend.basic.archive|translate}
                    </a>

                    <a class="btn btn-primary btn-archive"
                            n:href="Songbook:all">
                        {_frontend.basic.songbook|translate}
                    </a>

                    <a class="btn btn-primary btn-archive"
                            n:href="LiveStream:Default">
                        {_frontend.basic.livestream|translate}
                    </a>
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->


    </div>
    <!-- /.container -->
</nav>

<div class="fab-buttons">

    <a type="button" data-toggle="collapse" data-target="#navbar-collapse" 
       class="btn search visible-xs">
        <i class="fa fa-search"></i>
    </a>

</div>