<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Oáza.tv{ifset title} - {include title|striptags}{/ifset}</title>
    
    <meta name="theme-color" content="#4285f4">

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$basePath}/css/BootstrapXL.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/video.js/dist/video-js/video-js.min.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/videojs-thumbnails/videojs.thumbnails.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top noselect" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" 
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="{$basePath}/">
                    <img class="logo" src="{$basePath}/img/logo.png"/> 
                    <span class="text">Oáza.tv</span>
                </a>
            </div>
                    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                
                <form class="navbar-form navbar-search" role="search" action="{plink Search:default}">
                    <div class="input-group">
                        <input type="text" class="form-control" 
                               placeholder="{_frontend.basic.search}" name="q" 
                               id="search">
                        
                        <span class="search-animation glyphicon glyphicon-refresh 
                              glyphicon-refresh-animate" id="search-animation"></span>
                        
                        <ul class="dropdown-menu dropdown-search" id="dropdown-search">
                            
                        </ul>
                        
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                
                <a class="btn btn-primary btn-archive hidden-xs"
                   n:href="Archive:Default">
                    {_frontend.basic.archive}
                </a>
            </div>
            <!-- /.navbar-collapse -->
            
            
            {if $user->isLoggedIn()} 
                <a class="dropdown-toggle pull-right navbar-user-menu" 
                   type="button" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            {else}
                <a class="pull-right navbar-user-menu" type="button" href="#">
                    {_frontend.basic.login}
                </a>
            {/if}
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container-fluid main-content padded">
        
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

        {include content}

    </div>
    <!-- /.container -->

    {block scripts}
        <script src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{$basePath}/bower_components/video.js/dist/video-js/video.js"></script>
        <script src="{$basePath}/bower_components/videojs-thumbnails/videojs.thumbnails.js"></script>
        <script src="{$basePath}/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
        <script src="{$basePath}/js/utils.js"></script>
        
        <script>
            //autohidding navbar for mobile devices
            $(window).on('scroll', function () {
                if ($(window).width() <= 768) {
                    $('.navbar-fixed-top').autoHidingNavbar({
                        showOnUpscroll: true
                    });
                }
            });
        </script>
        
        <script>
            
            $(document).ready(function() {
                
                var oldSearch;
                var input;
                var timer;
                
                $('#search').bind('focus', function() {
                    if ($(this).val().length >= 3) {
                        $('#dropdown-search').slideDown();
                        
                        if ($(window).width() <= 768) {
                            $("body").css("overflow", "hidden");
                        }
                    }
                });

                $('#search').bind('focusout', function() {
                    $('#dropdown-search').slideUp();
                    
                    if ($(window).width() <= 768) {
                        $("body").css("overflow", "auto");
                    }
                });

                $('#search').bind('keyup', function(e) {
                    
                    input = $(this).val();
                    
                    if (input.length >= 3) {
                        $('#search-animation').show();
                    }
                    
                    timer = setTimeout(function() {
                            
                        if (input !== oldSearch) {

                                console.log('doing search: ' + input);

                                $('#dropdown-search').load({$basePath} 
                                    + "/search/inline-search/"
                                    + encodeURIComponent(input), 
                                    function() {

                                        highlightSearch(input);
                                        
                                        if ($(window).width() <= 768) {
                                            $("body").css("overflow", "hidden");
                                        }
                                        
                                        $('#dropdown-search').slideDown(); 
                                        $('#search-animation').hide();
                                        
                                        oldSearch = input;
                                    }
                                );

                        } else {
                            $('#search-animation').hide();
                        }
                        
                    }, 2000);
                   
                });
                
                $('#search').bind('keydown', function(e) {
                    clearTimeout(timer);
                });  
                
            });
            
            function highlightSearch(input) {
            
                var input = input.toLowerCase();;
                var inputWithoutDiacritics = removeDiacritics(input).toLowerCase();

                $('#dropdown-search .tag').each(function() {
                    var text = $(this).text();
                    
                    if (text.toLowerCase().indexOf(input) >= 0) {
                        $(this).addClass('highlight');
                        $(this).prependTo($(this).parent());
                    }
                    
                    if (text.toLowerCase().indexOf(inputWithoutDiacritics) >= 0) {
                        $(this).addClass('highlight');
                        $(this).prependTo($(this).parent());
                    }
                });
                
                $('#dropdown-search .name').each(function() {
                    var text = $(this).text();
                    
                    if (text.toLowerCase().indexOf(input) >= 0) {
                        $(this).addClass('highlight');
                    }
                });
            }
        </script>
    {/block}
    
    {block pageScripts}
    {/block}
</body>
</html>
