<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <title>Oáza.tv{ifset title} - {include title|striptags}{/ifset}</title>
    
    <meta property="og:site_name" content="Oáza.tv" />
    <meta property="fb:app_id" content="712622198880275" />
    {block meta}
        <meta property="og:image" content="{$baseUri}/assets/img/fb-share-image.jpg"/>	
    {/block}

    <meta name="theme-color" content="#4285f4">
    <link rel="shortcut icon" href="{$baseUri}/favicon.ico">
    {control css}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    {if !isset($_GET['hideNav'])}
        {include 'Shared/navigation.latte'}
    {/if}
    
    <div class="container main-content {if !isset($_GET['hideNav'])}padded{else}padded-small{/if}">

        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    </div>

    <!-- Page Content -->
    {include content}
    
    {if !isset($_GET['hideNav'])}
        {include 'Shared/defaultFooter.latte'}
    {/if}

    {block scripts}
    
        {control js}

        {*<script>
            //autohidding navbar for mobile devices
            $(window).on('scroll', function () {
                if ($(window).width() < 768) {
                    $('.navbar-fixed-top').autoHidingNavbar({
                        showOnUpscroll: true
                    });
                }
            });
        </script>*}

        <script>

            $(document).ready(function() {

                var oldSearch;
                var input;
                var timer;

                {*$('#search').bind('focus', function() {
                    if ($(this).val().length >= 3) {
                        $('#dropdown-search').slideDown();

                        if ($(window).width() <= 768) {
                            $("body").css("overflow", "hidden");
                        }
                    }
                });*}

                $('#search').bind('keyup', function(e) {

                    input = $(this).val();

                    if (input.length >= 3) {
                        $('#search-animation').removeClass('hidden');
                    } else {
                        $('#search-animation').addClass('hidden');
                        $('#dropdown-search').slideUp();
                    }

                    timer = setTimeout(function() {

                        if (input !== oldSearch) {

                                console.log('doing search: ' + input);

                                $('#dropdown-search').load({$basePath}
                                    + "/search/inline-search/"
                                    + encodeURIComponent(input),
                                    function() {

                                        highlightSearch(input);

                                        if ($(window).width() <= 768) {
                                            $("body").css("overflow", "hidden");
                                        }

                                        $('#dropdown-search').slideDown();
                                        $('#search-animation').removeClass('hidden');

                                        oldSearch = input;

                                        $('.dropdown-search').focus();
                                    }
                                );

                        } else {
                            $('#search-animation').addClass('hidden');
                        }

                    }, 2000);

                });

                $('#search').bind('keydown', function(e) {
                    clearTimeout(timer);
                });

            });

            function highlightSearch(input) {

                var input = input.toLowerCase();;
                var inputWithoutDiacritics = removeDiacritics(input).toLowerCase();

                $('#dropdown-search .tag').each(function() {
                    var text = $(this).text();

                    if (text.toLowerCase().indexOf(input) >= 0) {
                        $(this).addClass('highlight');
                        $(this).prependTo($(this).parent());
                    }

                    if (text.toLowerCase().indexOf(inputWithoutDiacritics) >= 0) {
                        $(this).addClass('highlight');
                        $(this).prependTo($(this).parent());
                    }
                });

                $('#dropdown-search .name').each(function() {
                    var text = $(this).text();

                    if (text.toLowerCase().indexOf(input) >= 0) {
                        $(this).addClass('highlight');
                    }
                });
            }
            
        </script>
        
        <script>
            $(document).ready(function() {
                
                var windowFocus = true;
               
                $(window).blur(function(){
                    windowFocus = false;
                });
                $(window).focus(function(){
                    windowFocus = true;
                });

                pingAlive();
                onAir();
                setInterval(function() {
                    onAir();
                    pingAlive(); 
                }, 10 * 1000);

                function onAir() {
                    $.get( {plink "LiveStream:ajaxRefresh"}, function(response) {
                        var onair = response['on_air'];
                        var onairElement = $('.onair');
                        
                        onairElement.removeClass('online offline')
                            .addClass(onair);
                    });
                }
                
                function generateAndGetUserId() {
                    if (!getCookie('oaza_user-id')) {
                        setCookie('oaza_user-id', randomString(16), 999);
                    }
                    return getCookie('oaza_user-id');
                }
                
                function pingAlive() {
                    if (windowFocus) {
                        var userId = generateAndGetUserId();
                        var os = window.navigator.platform;
                        var browser = navigator.userAgent;
                        var page = window.location.href;

                        if(userId) {
                            $.get( {plink ":Api:PingAlive:"},
                            {
                                "oazaUserId": userId,
                                "ip": {$_SERVER['REMOTE_ADDR']},
                                "os": os,
                                "browser": browser,
                                "page": page
                            },
                            function(response) {
                                console.log(response);
                            });
                        }
                    }
                }
                
                $('.navbar .logo').click(function() {
                    window.location.href = {plink "Main:default"};
                });
                
                $('.navbar-brand .text, .navbar .onair').click(function() {
                    if ($('.onair').hasClass('online')) {
                        window.location.href = {plink "LiveStream:default"};
                    } else {
                        window.location.href = {plink "Main:default"};
                    }
                });
            });
            
        </script>
        
        <script>

            $(document).ready(function() {
                if (detectMobileBrowser()) {
                    $('.bg video').remove();
                    
                    $('.video-fluid.bg').each(function(e) {
                        var rand = getRandomIntInclusive(1, 9);
                        $(this).css('background-image', 'url(' + {$basePath} + '/assets/video/oaza-title-slides/' + rand + '.jpg)');
                    });
                }
            });

        </script>

    {/block}
    
    {include Shared/googleAnalytics.latte}

    {block pageScripts}
    {/block}
</body>
</html>
