<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <title>Oáza.tv{ifset title} - {include title|striptags}{/ifset}</title>

    <meta name="theme-color" content="#4285f4">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {control css}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top noselect" role="navigation">
        <div class="container" class="position: relative;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                {*<button type="button" class="navbar-toggle pull-left" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*}

                <a class="navbar-brand">
                    <img class="logo" src="{$basePath}/assets/img/logo.png"/>
                    <span class="text hidden-xs">Oáza.tv</span>
                    <div class="onair offline"> 
                        <div class="dot"></div>
                        OnAir 
                    </div>
                </a>
                    
                    
            </div>
                    
            <div class="pull-right navbar-user-menu">
                <a class="btn btn-primary btn-archive"
                       n:href="Archive:Default">
                        {_frontend.basic.archive}
                </a>

                <a class="btn btn-primary btn-archive"
                   n:href="Song:all">
                    {_frontend.basic.songbook}
                </a>

                {if $user->isLoggedIn()}
                    <a class="dropdown-toggle"
                       type="button" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                {else}
                    <a type="button" class="btn btn-primary btn-archive" href="#">
                        <i class="fa fa-user"></i>
                    </a>
                {/if}
            </div>
                    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <form class="navbar-form navbar-search" role="search" action="{plink Search:default}">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               autocomplete="off"
                               placeholder="{_frontend.basic.search}" name="q"
                               id="search">

                        <span class="search-animation glyphicon glyphicon-refresh
                              glyphicon-refresh-animate" id="search-animation"></span>

                        <ul class="dropdown-menu dropdown-search" id="dropdown-search">

                        </ul>

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->

            
        </div>
        <!-- /.container -->
    </nav>

    
    <div class="container main-content padded">

        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        
        <div class="fab-buttons">
        
            <a type="button" data-toggle="collapse" data-target="#navbar-collapse" 
               class="btn search visible-xs">
                <i class="fa fa-search"></i>
            </a>

        </div>

    </div>

    <!-- Page Content -->
    {include content}
    
    
    {include Components/defaultFooter.latte}


    {block scripts}
    
        {control js}

        <script>
            //autohidding navbar for mobile devices
            $(window).on('scroll', function () {
                if ($(window).width() < 768) {
                    $('.navbar-fixed-top').autoHidingNavbar({
                        showOnUpscroll: true
                    });
                }
            });
        </script>

        <script>

            $(document).ready(function() {

                var oldSearch;
                var input;
                var timer;

                /*$('#search').bind('focus', function() {
                    if ($(this).val().length >= 3) {
                        $('#dropdown-search').slideDown();

                        if ($(window).width() <= 768) {
                            $("body").css("overflow", "hidden");
                        }
                    }
                });*/

                $('#search').bind('keyup', function(e) {

                    input = $(this).val();

                    if (input.length >= 3) {
                        $('#search-animation').show();
                    } else {
                        $('#search-animation').hide();
                        $('#dropdown-search').slideUp();
                    }

                    timer = setTimeout(function() {

                        if (input !== oldSearch) {

                                console.log('doing search: ' + input);

                                $('#dropdown-search').load({$basePath}
                                    + "/search/inline-search/"
                                    + encodeURIComponent(input),
                                    function() {

                                        highlightSearch(input);

                                        if ($(window).width() <= 768) {
                                            $("body").css("overflow", "hidden");
                                        }

                                        $('#dropdown-search').slideDown();
                                        $('#search-animation').hide();

                                        oldSearch = input;

                                        $('.dropdown-search').focus();
                                    }
                                );

                        } else {
                            $('#search-animation').hide();
                        }

                    }, 2000);

                });

                $('#search').bind('keydown', function(e) {
                    clearTimeout(timer);
                });

            });

            function highlightSearch(input) {

                var input = input.toLowerCase();;
                var inputWithoutDiacritics = removeDiacritics(input).toLowerCase();

                $('#dropdown-search .tag').each(function() {
                    var text = $(this).text();

                    if (text.toLowerCase().indexOf(input) >= 0) {
                        $(this).addClass('highlight');
                        $(this).prependTo($(this).parent());
                    }

                    if (text.toLowerCase().indexOf(inputWithoutDiacritics) >= 0) {
                        $(this).addClass('highlight');
                        $(this).prependTo($(this).parent());
                    }
                });

                $('#dropdown-search .name').each(function() {
                    var text = $(this).text();

                    if (text.toLowerCase().indexOf(input) >= 0) {
                        $(this).addClass('highlight');
                    }
                });
            }
            
        </script>
        
        <script>
            $(document).ready(function() {
               
                pingAlive();
                onAir();
                setInterval(function() {
                    onAir();
                    pingAlive(); 
                }, 10 * 1000);

                function onAir() {
                    $.get( {plink "LiveStream:ajaxRefresh"}, function(response) {
                        var onair = response['on_air'];
                        var onairElement = $('.onair');
                        
                        onairElement.removeClass('online offline')
                            .addClass(onair);
                    });
                }
                
                function generateAndGetUserId() {
                    if (!getCookie('oaza_user-id')) {
                        setCookie('oaza_user-id', randomString(16), 999);
                    }
                    return getCookie('oaza_user-id');
                }
                
                function pingAlive() {
                    var userId = generateAndGetUserId();
                    var os = window.navigator.platform;
                    var browser = navigator.userAgent;
                    var page = window.location.href;
                    
                    if(userId) {
                        $.get( {plink ":Api:PingAlive:"},
                        {
                            "oazaUserId": userId,
                            "ip": {$_SERVER['REMOTE_ADDR']},
                            "os": os,
                            "browser": browser,
                            "page": page
                        },
                        function(response) {
                            console.log(response);
                        });
                    }
                }
                
                $('.navbar .logo').click(function() {
                    window.location.href = {plink "Main:default"};
                });
                
                $('.navbar-brand .text, .navbar .onair').click(function() {
                    if ($('.onair').hasClass('online')) {
                        window.location.href = {plink "LiveStream:default"};
                    } else {
                        window.location.href = {plink "Main:default"};
                    }
                });
            });
            
        </script>
    {/block}

    {block pageScripts}
    {/block}
</body>
</html>
