assets:
    css:
        - '/assets/bower_components/bootstrap/dist/css/bootstrap.css'
        - '/assets/css/BootstrapXL.css'
        - '/assets/bower_components/flexslider/flexslider.css'
        - '/assets/bower_components/video.js/dist/video-js.css'
        - '/assets/bower_components/photoswipe/dist/photoswipe.css'
        - '/assets/bower_components/photoswipe/dist/default-skin/default-skin.css'
        - '/assets/bower_components/justifiedGallery/dist/css/justifiedGallery.css'
    js:
        - '/assets/bower_components/jquery/dist/jquery.min.js'
        - '/assets/bower_components/bootstrap/dist/js/bootstrap.min.js'
        - '/assets/bower_components/video.js/dist/video.min.js'
        - '/assets/js/jquery.bootstrap-autohidingnavbar.min.js'
        - '/assets/bower_components/photoswipe/dist/photoswipe.min.js'
        - '/assets/bower_components/photoswipe/dist/photoswipe-ui-default.min.js'
        - '/assets/bower_components/justifiedGallery/dist/js/jquery.justifiedGallery.min.js'
        - '/assets/bower_components/masonry/dist/masonry.pkgd.min.js'
        - '/assets/bower_components/bootbox.js/bootbox.js'
        - '/assets/js/x-tag-components.js'
        - '/assets/js/jquery.tagcloud.js/jquery.tagcloud.js'
        - '/assets/js/fb.js'
        - '/assets/js/gplus.js'
        - '/assets/js/share.js'
        - '/assets/js/utils.js'