assets:
    css:
        - '/assets/bower_components/bootstrap/less/bootstrap.less'
        - '/assets/css/BootstrapXL.css'
        - '/assets/bower_components/flexslider/flexslider.css'
        - '/assets/bower_components/video.js/dist/video-js.css'
        - '/assets/bower_components/videojs-ass/src/videojs.ass.css'
        - '/assets/bower_components/photoswipe/dist/photoswipe.css'
        - '/assets/bower_components/photoswipe/dist/default-skin/default-skin.css'
        - '/assets/bower_components/justifiedGallery/dist/css/justifiedGallery.css'
        - '/assets/bower_components/vjs-resolution-switcher/lib/videojs-resolution-switcher.css'
        - '/assets/js/videojs-markers-master/dist/videojs.markers.css'
    js:
        - '/assets/bower_components/jquery/dist/jquery.min.js'
        - '/assets/bower_components/bootstrap/dist/js/bootstrap.min.js'
        - '/assets/js/nette.ajax.js'
        - '/assets/bower_components/video.js/dist/video.min.js'
        - '/assets/bower_components/libjass/libjass.min.js'
        - '/assets/bower_components/videojs-ass/src/videojs.ass.js'
        - '/assets/js/jquery.bootstrap-autohidingnavbar.min.js'
        - '/assets/bower_components/photoswipe/dist/photoswipe.min.js'
        - '/assets/bower_components/photoswipe/dist/photoswipe-ui-default.min.js'
        - '/assets/bower_components/justifiedGallery/dist/js/jquery.justifiedGallery.min.js'
        - '/assets/bower_components/vjs-resolution-switcher/lib/videojs-resolution-switcher.js'
        - '/assets/js/videojs-markers-master/dist/videojs-markers.min.js'
        - '/assets/bower_components/masonry/dist/masonry.pkgd.min.js'
        - '/assets/bower_components/bootbox.js/bootbox.js'
        - '/assets/bower_components/masonry/dist/masonry.pkgd.min.js'
        - '/assets/js/x-tag-components.js'
        - '/assets/js/jquery.tagcloud.js/jquery.tagcloud.js'
        - '/assets/js/fb.js'
        - '/assets/js/gplus.js'
        - '/assets/js/share.js'
        - '/assets/js/utils.js'
        - '/assets/js/detect-mobile-browser.js'
        - '/assets/js/smooth-scroll-hash.js'
        - '/assets/js/jschords.js'