# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:

http:
    headers:
        X-Powered-By: off

php:
    date.timezone: Europe/Prague


nette:
    application:
        errorPresenter: Front:Error
        mapping:
            *: App\*Module\*Presenter

latte:
    macros:
        - Nextras\Latte\Macros\RedefineMacro::install

session:
    expiration: 3 day

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension
    webloader: WebLoader\Nette\Extension

services:
    - Model\BugReport
    - Model\ThumbnailGenerator
    - Model\VideoManager
    - Model\VideoConvertQueueManager
    - Model\ConversionManager
    - Model\ServerSettings
    - Model\PhotosManager
    - Model\AnalyticsManager
    - Model\ArchiveManager
    - Model\SearchManager
    - Model\CategoriesManager
    - Model\TagsManager
    - Model\SongsManager
    - Model\ConversionProfilesManager
    - Model\PreachersManager
    - Model\FrontPageManager
    - Model\LiveStreamManager
    - Model\ArchiveMenuManager
    - Model\ServerMonitorManager
    - App\RouterFactory
    webDir: App\Services\WebDir(%wwwDir%)
    router: @App\RouterFactory::createRouter
    nette.latteFactory:
        setup:
            - setTempDirectory(null)
    authenticator:  Model\UserManager
    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
    lessFilter: WebLoader\Filter\LessFilter
    jwlCssMinFilter: Joseki\Webloader\CssMinFilter


translation:
    default: en
    whitelist: [cs, en]
    fallback: [en_US, en]
    debuger: on

constants:
    VERSION: "0.9.16 (2016-10-02)"
    LATEST_ANDROID_APP_VERSION: 2016100201
    DB_PREFIX: ""
    DB_ADMIN_PREFIX: "admin_"
    ADMIN_UPLOADED_DIR: "uploaded/"
    VIDEOS_FOLDER: "db/videos/"
    ALBUMS_FOLDER: "db/albums/"
    PREACHERS_FOLDER: "db/preachers/"
    USER_TEMP_FOLDER: "temp/users/"
    FRONTPAGE_IMAGES_FOLDER: "db/front_page/images/"