# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:


php:
    date.timezone: Europe/Prague


nette:
    application:
        errorPresenter: Front:Error
        mapping:
            *: App\*Module\*Presenter


session:
    expiration: 1 day


services:
    - Model\AdminFacade()
    - Model\VideoManager
    - App\RouterFactory
    router: @App\RouterFactory::createRouter
    nette.latteFactory:
        setup:
            - setTempDirectory(null)
    authenticator:  App\Model\UserManager

constants:
    VERSION: 0.1
    DB_PREFIX: ""
    DB_ADMIN_PREFIX: "admin_"
    ADMIN_UPLOADED_DIR: "uploaded/"
    VIDEOS_FOLDER: "db/videos/"