# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:


php:
    date.timezone: Europe/Prague


nette:
    application:
        errorPresenter: Front:Error
        mapping:
            *: App\*Module\*Presenter


session:
    expiration: 3 day

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension

services:
    - Model\BugReport
    - Model\ThumbnailGenerator
    - Model\VideoManager
    - Model\VideoConvertQueueManager
    - Model\ConversionManager
    - Model\ServerSettings
    - Model\PhotosManager
    - App\RouterFactory
    router: @App\RouterFactory::createRouter
    nette.latteFactory:
        setup:
            - setTempDirectory(null)
    authenticator:  Model\UserManager

translation:
    default: cs
    fallback: [cs_CZ, cs]

constants:
    VERSION: "0.4 (2015-08-25)"
    DB_PREFIX: ""
    DB_ADMIN_PREFIX: "admin_"
    ADMIN_UPLOADED_DIR: "uploaded/"
    VIDEOS_FOLDER: "db/videos/"
    ALBUMS_FOLDER: "db/albums/"
    USER_TEMP_FOLDER: "temp/users/"