# latte files for frontside are located in /app/FrontModule/templates/Main/blocks

frontpage_blocks:
    h1:
        name: 'H1'
        info: 'Nadpis H1 přes celou šířku pozice'
        inputs:
            text: 
                name: 'text'
                type: 'text'
                mutations: 'cs|en'
            text_small:
                name: 'text_small'
                type: 'text'
                mutations: 'cs|en'
    h2:
        name: 'H2'
        info: 'Nadpis H2 přes celou šířku pozice'
        inputs:
            text: 
                name: 'text'
                type: 'text'
                mutations: 'cs|en'
            text_small:
                name: 'text_small'
                type: 'text'
                mutations: 'cs|en'
    notification_text:
        name: 'notification_text'
        info: 'Notifikační lištička'
        inputs:
            name:
                name: 'name'
                type: 'text'
                mutations: 'cs|en'
            text:
                name: 'text'
                type: 'text'
                mutations: 'cs|en'
            select:
                name: 'notification_type'
                type: 'select'
                options: 'success|info|warning|danger'
    notification_text_closable:
        name: 'notification_text_closable'
        info: 'Notifikační lištička co se dá zavřít'
        inputs:
            name:
                name: 'name'
                type: 'text'
                mutations: 'cs|en'
            text:
                name: 'text'
                type: 'text'
                mutations: 'cs|en'
            select:
                name: 'notification_type'
                type: 'select'
                options: 'success|info|warning|danger'
    new_videos:
        name: 'new_videos'
        info: 'Nejnovější videa (standardní layout)'
        inputs:
            select:
                name: 'max_videos'
                type: 'select'
                options: '4|8|12|16'
    new_albums:
        name: 'new_albums'
        info: 'Nejnovější alba (standardní layout)'
        inputs:
            select:
                name: 'max_albums'
                type: 'select'
                options: '4|8|12|16'
    popular_videos:
        name: 'popular_videos'
        info: 'Populární videa (standardní layout)'
        inputs:
            select:
                name: 'max_videos'
                type: 'select'
                options: '4|8|12|16'
    test_image:
        name: 'test_image'
        info: 'testovací blok s obrázkem'
        inputs:
            image:
                name: 'image'
                type: 'image'
                formats: 'jpg|jpeg'