# latte files for frontside are located in /app/FrontModule/templates/Main/blocks

frontpage_blocks:
    h1:
        name: 'H1'
        info: 'Nadpis H1 přes celou šířku pozice'
        inputs:
            text: 
                name: 'text'
                type: 'text'
                mutations: 'cs|en'
            text_small:
                name: 'text_small'
                type: 'text'
                mutations: 'cs|en'
    h2:
        name: 'H2'
        info: 'Nadpis H2 přes celou šířku pozice'
        inputs:
            text: 
                name: 'text'
                type: 'text'
                mutations: 'cs|en'
            text_small:
                name: 'text_small'
                type: 'text'
                mutations: 'cs|en'