{block content}

<div id="wrapper">
    
    {include ../navbar.latte}
    
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6 col-xl-7 hidden-md hidden-sm hidden-xs">
                
                <iframe id="livestream-page" 
                        frameborder="none"
                        style="width: 100%; height: calc(100vh - 150px)"
                        src="{plink ":Front:LiveStream:default"}"></iframe>
                
            </div>
            <div class="col-lg-6 col-xl-5" 
                 style="height: calc(100vh - 1px); overflow-y: scroll">
                <h2>Živé vysílání</h2>

                <hr>

                {control valuesForm}
                
            </div>
        </div>
    </div>
</div>
    
{/block}