{block content}

<div id="wrapper">
    
    {include ../navbar.latte}
    
    <div class="container">
        <div class="row">
            <h2>Živé vysílání</h2>
           
            <hr>
            
        </div>
    </div>
</div>
    
{/block}