basic:
    login: "Přihlásit se"
    search: "Vyhledávání"
    archive: "Archiv"
    views: "zhlédnutí"
    previous: "předchozí"
    next: "další"
    videos: "videa"
    albums: "fotoalba"
    number_of_days: "počet dnů"
    similar_videos: "Podobná videa"
    songbook: "Zpěvník"
    categories: "Kategorie"
    nothing_found: "Nic nenalezeno"
    on_air_offline: "Offline"
    share: "Sdílet"
    share_in_time: "Sdílet v čase"
    category: "Kategorie"
    show_all: "Zobrazit vše"
    show_next: "Zobrazit další"
    show_menu: "Zobrazit menu"
search:
    more: "další výsledky"
homepage:
    newest_videos: "Nejnovější videa"
    newest_albums: "Nejnovější alba"
    popular_videos: "Populární videa"
songbook:
    videos_including_this_song: "Videa obsahující tuto chválu"
    chord_to_find: "Najít akord"
    alternative_tuning: "Alernativní ladění"
    show_chords: "Zobrazit akordy"
footer:
    copyright: "Všechna práva vyhrazena | Oaza.tv"
    contact: "Kontakt"
    find_us_on: "Najdete nás také na"
    app: "Mobilní aplikace"