basic:
    login: "Přihlásit se"
    register: "Zaregistrovat se"
    email: "Email"
    password: "Heslo"
    search: "Vyhledávání"
    archive: "Archiv"
    views: "zhlédnutí"
    previous: "předchozí"
    next: "další"
    videos: "videa"
    albums: "fotoalba"
    number_of_days: "počet dnů"
    similar_videos: "Podobná videa"
    songbook: "Zpěvník"
    categories: "Kategorie"
    nothing_found: "Nic nenalezeno"
    on_air_offline: "Offline"
    share: "Sdílet"
    share_in_time: "Sdílet v čase"
    category: "Kategorie"
    show_all: "Zobrazit vše"
    show_next: "Zobrazit další"
    show_menu: "Zobrazit menu"
    show: "Zobrazit"
    onair: "vysíláme živě"
    livestream: "Živé vysílání"
    videos_with_subtitles: "Videa s titulky"
    photo_albums: "Fotoalba"
    myoaza: "mojeOáza"
    registered_since: "registrován(a)"
    logout: "Odhlásit se"
    or: "nebo"
    firstname: "Jméno"
    lastname: "Příjmení"
    history: "Historie"
    watched: "sledováno"
    notes: "Poznámky"
    add_note: "Přidat poznámku"
    edited: "Upraveno"
    video: "Video"
    welcome: "Vítejte"
    welcome_text: "TODO welcome text"
    user: "Uživatel"
    notifications: "Upozornění"
    complete: "Hotovo"
    user_settings: "Uživatelské nastavení"
    user_settings_text: "Potřebujeme jen nastavit pár základních věcí."
button:
    continue: "Pokračovat"
    save_and_continue: "Uložit a pokračovat"
    previous: "Předchozí"
wizard:
    member: "Považujete se za člena nějaké církve?"
    member_yes: "Ano, Církve Oáza"
    member_other_church: "Ano, jiné církve"
    member_no: "Ne"
    church: "Město"
    other_church: "Jiná církev"
    notifications_settings: "Nastavení upozornění"
    notifications_settings_text: "TODO text"
    notifications_type: "Typ upozornění"
    notifications_email: "Email"
    notifications_web: "Web"
    notifications_push: "Upozornění v mobilní aplikaci"
message:
    login_error: "Nesprávná kombinace loginu a hesla"
    email_already_taken: "Email je již zaregistrovaný"
label:
    login: "Prosím přihlaste se nebo zaregistrujte"
search:
    more: "další výsledky"
homepage:
    newest_videos: "Nejnovější videa"
    newest_albums: "Nejnovější alba"
    popular_videos: "Populární videa"
songbook:
    videos_including_this_song: "Videa obsahující tuto chválu"
    chord_to_find: "Najít akord"
    alternative_tuning: "Alernativní ladění"
    show_chords: "Zobrazit akordy"
    chord: "Akord"
footer:
    copyright: "Všechna práva vyhrazena | Oaza.tv"
    contact: "Kontakt"
    find_us_on: "Najdete nás také na"
    app: "Mobilní aplikace"
contact: 
    team: "Tým"
    technical_team: "Technický tým"