basic:
    login: "Log in"
    search: "Search"
    archive: "Archive"
    views: "views"
    previous: "previous"
    next: "next"
    videos: "videos"
    albums: "photoalbums"
    number_of_days: "days"
    similar_videos: "Similar videos"
    songbook: "Songbook"
    categories: "Categories"
    nothing_found: "Nothing found"
    on_air_offline: "Offline"
    share: "Share"
    share_in_time: "Share in time"
    category: "Category"
    show_all: "Show all"
    show_next: "Show next"
    show_menu: "Show menu"
    show: "Show"
    onair: "On Air"
    livestream: "Live stream"
    videos_with_subtitles: "Videos with subtitles"
search:
    more: "more results"
homepage:
    newest_videos: "Newest videos"
    newest_albums: "Newest albums"
    popular_videos: "Popular videos"
songbook:
    videos_including_this_song: "Videos including this song"
    chord_to_find: "Find chord"
    alternative_tuning: "Alternative tuning"
    show_chords: "Show chords"
    chord: "Chord"
footer:
    copyright: "All rights reserved | Oaza.tv"
    contact: "Contact"
    find_us_on: "Find us on"
    app: "Mobile app"
contact: 
    team: "Team"
    technical_team: "Technický tým"