basic:
    login: "Přihlásit se"
    search: "Vyhledávání"
    archive: "Archiv"
    views: "zhlédnutí"
    previous: "předchozí"
    next: "další"
    videos: "videa"
    albums: "fotoalba"
    number_of_days: "počet dnů"
    similar_videos: "Podobná videa"
    songbook: "Zpěvník"
    categories: "Kategorie"
search:
    more: "další výsledky"
homepage:
    newest_videos: "Nejnovější videa"
    newest_albums: "Nejnovější alba"
    popular_videos: "Populární videa"
