{block content}

<div class="container">
    {if isset($archiveItems)}
        <div class="row videos-box">
            {foreach $archiveItems as $item}
                {include '../Shared/videoBox.latte', item => $item}
            {/foreach}
        </div>
    {/if}

    {include '../Shared/pagination.latte', pages => $pages, page => $page}
</div>
